<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- 此处需要点击方可进行计算 -->
<body>
    <div id="app">
        <input type="number"  v-model="num1">
        <span>+</span>
        <input type="number"  v-model="num2">
        <button @click="getSum">=</button>
        <!-- disabled  禁止输入-->
        <input type="text" disabled class="sum" v-bind:value="sum">
    </div>

    <script src="../9-28/lib/vue-3.0.js"></script>

    <script>
        //先写vm并挂载到app上
        let vm = Vue.createApp({
            //存储数据的结构
            data() {
                return {
                    //声明数据
                    num1:'',
                    num2:'',
                    sum:''
                }
            },

            //声明方法的结构
            methods: {
                //计算加法结果
                getSum(){
                    //为了避免字符串的拼接，所以要通过parseFloat进行数据类型的转换
                    this.sum=parseFloat(this.num1)+parseFloat(this.num2)
                }
            }
        }).mount('#app')
    </script>
</body>

</html>